*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin-left: 0.6em;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

:root {
  --wit: #ffffff;

  --rood: #ea162d;
  --groen: #18ab74;
  --roze: #E9162E;

  --nav_ag: #212121;
  --icon: #3c3c3c;
  --grijs_heellicht: #f5f5f5;
  --border_grijs: #E5E7EB;
  --border_grijs_donker: #d1d5db;
  --tekst: #2e2f34;
  --tekst_bold: #101622;
  --tekst_tag: #1a1a1a;
  --tekst_licht: #a1a1a1;
  --tekst_grijs: #666666;
}

@font-face {
  font-family: "objective_reg";
  src: url("../images/1551078499wpdm_Obective/Objective_Woff2/Objective-Regular.woff2");
}
@font-face {
  font-family: "objective_med";
  src: url("../images/1551078499wpdm_Obective/Objective_Woff2/Objective-Medium.woff2");
}
@font-face {
  font-family: "objective_bold";
  src: url("../images/1551078499wpdm_Obective/Objective_Woff2/Objective-Bold.woff2");
}
li{
  list-style-type: none;
}

p {
  font-family: "objective_reg", sans-serif;
  font-size: 0.8em;
}

ul{
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
}
a{
    font-family: "objective_reg", sans-serif;
    text-decoration: none;
    color: var(--tekst_bold);
}
button{
    border: none;
    background: none;
}

/*navigatie*/
nav{
  width: calc(100% - 1.2em);
  background-color: var(--nav_ag);  
  position: fixed;
  top: 0em;
  border-radius: 0.4em;
  z-index: 10;
}
nav ul{
  width: 100%;
  padding-top: 0.5em;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li{
  width: 1.5em;
  height: 1.5em;
}
nav ul li:nth-of-type(3){
  width: 4.5em;
  height: 2.5em;
  padding-top: 0.05em;
}
nav ul li:nth-of-type(2){
  width: 1em;
  height: 1em;
}
nav ul li:nth-of-type(4){
  width: 1.4em;
  height: 1em;
}
nav ul li:nth-of-type(5){
  width: 1.4em;
  height: 1em;
}

/*product*/

.product{
  background-image: url("../images/content/bier.webp");
  background-size: cover;
  background-position: center 100%;
  width: 96%;
  height: 15em;
  background-color: var(--grijs_heellicht);
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 20% 60% 20%;
}
.product > img:nth-of-type(1){
  width: 80%;
  margin: 0.6em;
  grid-column: span 3;
}
.product button{
  grid-column: 3;
  grid-row: 3;
  margin-top: -0.6em;
  height: 3.2em;
  width: 3.2em;
  border-radius: 50%;
  border: none;
  background-color: var(--groen);
  padding: 0.9em;
}
.product ul li:nth-of-type(1){
  margin-top: 13em;
  display: flex;
  height: 1em;
  gap: 0.3em;
}
.product ul li:nth-of-type(1) p{
  font-size: 0.7em;
  margin: 0.3em;
  white-space: nowrap; /*dit zorgt ervoor dat ie naast elkaar blijft staan*/
  margin-top: 0.4em;
  color: var(--tekst_grijs);
}
.product article ul{
  white-space: nowrap;
}
.product h4{
  margin-top: 1em;
}
.product ul li:nth-of-type(3){
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: -1.2em;
  font-size: 0.95em;
}
.product ul li:nth-of-type(3) img{
  height: 1em;
  margin-left: 0.3em;
}
.product ul li:nth-of-type(4){
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: -1em;
  font-size: 0.95em;
}
.product ul li:nth-of-type(4) img{
  height: 1em;
  margin-left: 0.3em;
}
.product ul li:nth-of-type(5) p{
  font-family: "objective_bold", sans-serif;
    margin-top: 0.3em;
    margin-left: 0.2em;
}

.from{
  font-size: 0.95em;
  color: var(--tekst_licht);
}
.old{
  font-size: 1.2em;
  text-decoration: line-through;
  margin-left: 0.2em;
}
.old_small{
  font-size: 0.95em;
  text-decoration: line-through;
  margin-left: -0.5em;
}
.new{
  font-size: 1.2em;
  color: var(--rood);
  margin-left: 0.2em;
}
.new_small{
  font-size: 0.95em;
  color: var(--rood);
  margin-left: -0.5em;
}

/*footer*/

details {
  font-family: "objective_bold", sans-serif;
  color: var(--wit);
  font-size: 0.85em;

  border: 1px solid var(--border_grijs_donker);
  border-radius: 0.6em;
  padding: 1.5em;
  margin-top: 1em;
  margin-left: 0.6em;
  margin-right: 0.6em;
  transition: all 0.5s ease-in;
  
  background-color: transparent;
}
details:not([open]) img{
    transition: all 0.5s ease-in;
    transform: rotate(0deg);
}
/* ik heb de video van kevin powell over details gekeken en proberen te volgen, maar het element block-size kreeg ik niet te werken in mijn code, dus met chatgpt heb ik een manier gevonden om de animatie erin te krijgen zonder block-size te gebruiken. Maar ik snap wel wat hij doet door alles in de details behalve de summary aan te spreken*/
details > *:not(summary) {
  overflow: hidden;
  max-height: 0;

  opacity: 0;
}
details[open] > *:not(summary) { 
  max-height: 1000em; 
  opacity: 1;
  transition: all 0.5s ease-in;
}
details[open] img { 
  transition: all 0.2s ease-in;
  transform: rotate(180deg);

}
details ul{
  margin-top: 1em;
}
details li {
  font-size: 1em;
  margin-top: 1em;

}
details img {
  height: 1.7em;

}
details a {
  font-family: "objective_reg", sans-serif;
  color: var(--wit);
}
summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
    list-style-position: outside;
}
summary::marker {
  content: none;
}


footer section{
  padding-top: 15em;
}
footer h4{
  color: var(--wit);
  font-size: 0.8em;
  font-family: "objective_reg", sans-serif;
  text-align: center;
  width: 88%;
  margin-left: 1.5em;
  line-height: 1.5em;
}
.bolder_wit{
  font-family: "objective_bold", sans-serif;
  color: var(--wit);
  font-size: 1.15em;
  padding: 0em;
  margin: 0em;
}
input{
  font-family: "objective_reg", sans-serif;
  font-size: 0.85em;
  width: 95%;
  padding: 1.8em;
  border-radius: 20em;
  border: none;
  background-color: var(--wit);
  margin-left: 0.8em;
  margin-right: 0.8em;
}
footer section > a{
  background-color: var(--rood);
  color: var(--wit);
  font-family: "objective_bold", sans-serif;
  font-size: 0.85em;
  width: 95%;
  padding: 1.8em;
  border-radius: 20em;
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-top: 1em;
}
footer > p{
  color: var(--wit);
  font-size: 0.85em;
  text-align: center;
  justify-self: center;

  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 80%;
}
footer ul:nth-of-type(2){
  display: flex;
  justify-content: center;
  gap: 0.8em;
  margin-bottom: 2em;
}
footer > img{
  height: 2.5em;
    display: flex;
    justify-self: center;
}
footer ul:nth-of-type(3) img{
  height: 1.2em;
}
footer ul:nth-of-type(3){
  display: flex;
  justify-content: center;
  gap: 0.8em;
  margin-bottom: 2em;
}
footer ul:nth-of-type(3) li{
  border-radius: 1000em;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.55em;
  padding-right: 0.55em;
  background-color: var(--icon);
  width: fit-content;
}
footer ul:nth-of-type(4){
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
    border-top: 1px solid var(--border_grijs_donker);
  border-bottom: 1px solid var(--border_grijs_donker);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
footer ul:nth-of-type(4) li img{
  height: 2.5em;
  width: fit-content;
}
