h1 {
  color: var(--tekst_bold);
  font-family: "objective_bold", sans-serif;
  font-size: 1.875em;
  order: 2;
  margin-bottom: 0em;
  text-align: center;
  display: flex;
  justify-self: center;
}

h2 {
  font-family: "objective_med", sans-serif;
  color: var(--tekst_bold);
  font-size: 0.9em;
  max-width: 80%;
  margin: 0;
}
h3 {
  font-family: "objective_bold", sans-serif;
  font-size: 1.1em;
  margin-left: 1em;
}


/*product caroussel*/
main section:nth-of-type(1){
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}
.carouselcontainer {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  gap: 1em;

  scrollbar-width: thin;
  scrollbar-color: #f09 transparent;

  border-radius: 0.4em;
}
.carouselimg {
  flex-basis: 98%;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.carouselimg img {
  width: 100%;
  display: block;
  border-radius: 0.4em;
}
/* .carousel-indicators {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1em;
}
.indicator {
  width: 1em;
  aspect-ratio: 1;
  padding: 0;

  background-color: var(--border_grijs_donker, #ccc);
  border: none;
  border-radius: 50%;

  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #f09;
}

.carouselbutton {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1em;
}
.carouselbutton button {
  width: 3em;
  aspect-ratio: 1;
  padding: 0;

  background-color: var(--border_grijs_donker, #ccc);
  border: none;
  border-radius: 50%;

  font-size: 1em;
  cursor: pointer;
}

 */
/*kant en klare etc*/
main section:nth-of-type(1) p{
  order: 5;
}

/*sterren/reviews*/
main section:nth-of-type(1) ul:nth-of-type(2){
  order: 2;
  display: flex;
  align-items:center;
  color: var(--tekst_grijs);
  text-decoration: underline;
  gap: 1em;
  margin-bottom: 0em;
}
main section:nth-of-type(1) ul:nth-of-type(2) li{
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}
main section:nth-of-type(1) ul:nth-of-type(2) img{
  height: 1em;
}
main section:nth-of-type(1) > p{
  font-size: 0.85em;
  line-height: 2em;
  font-family: "objective_reg";
}

/*hoeveelheid+smaak tot In winkelwagen*/
main section:nth-of-type(2) ul:nth-of-type(1) {
  display: flex;
  gap: 0.6em;
  margin-top: 0.5em;
}
main section:nth-of-type(2) ul:nth-of-type(1) li{
  border: 1px solid var(--tekst_tag);
  border-radius: 0.4em;
  padding: 0.4em 0.2em;
  text-align: center;
}
main section:nth-of-type(2) ul:nth-of-type(1) li:active{
  border: var(--groen);
  background-color: var(--groen);
  color: var(--wit);
}

#smaak_keuze{
  font-size: 1em;
  font-family: "objective_reg", sans-serif;
  border: 1px solid var(--tekst_tag);
  border-radius: 0.6em;
  padding: 1.5em 1em;
  padding-right: 11em;
  margin-top: 0.5em;
  max-width: 100%;
}

main section:nth-of-type(2) ul:nth-of-type(2){
  display: flex;
  gap: 0.5em;
  align-items: center;
}
main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(1){
  color: var(--tekst_licht);
}
main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(2) p{
  font-family: "objective_bold";
  color: var(--tekst_bold);
  font-size: 1.2em;
}
main section:nth-of-type(2) div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2em;
}
main section:nth-of-type(2) div button{
  font-family: "objective_bold";
  background-color: var(--groen);
  color: var(--wit);
  padding: 1.2em 1.8em;
  border-radius: 1.2em;
}


/*gratis verzending, groene vinkjes*/
main > ul:nth-of-type(1){
  display : flex;
  flex-direction: column;
  border: 1px solid var(--border_grijs);
  border-radius: 0.6em;
  padding: 1.5em 1em;
}
main > ul:nth-of-type(1) li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
  font-family: "objective_reg";
  font-size: 0.85em;
}
main > ul:nth-of-type(1) img{
  height: 1em;
}
.bold_zwart{
    font-family: "objective_bold", sans-serif;
    color: var(--tekst_bold);
}

/*bank logos*/
main > ul:nth-of-type(2){
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
/*In het kort*/
main > article{
  background-color: var(--grijs_heellicht);
  padding: 1em;
  border-radius: 0.6em;
  margin-bottom: 2em;
}
main > article ul{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  
}
main > article ul img{
  height: 1.5em;
}
main > article li{
  display: flex;
  align-items: center;
  gap: 0.8em;
}
main > article p{
  font-size: 0.85em;
}

/*product bij andere keken ook*/
main > ul:nth-of-type(3){
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
  gap: 11em 0.4em;
  margin-bottom: 12em; 
}
main > ul:nth-of-type(3) h2{
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-self: center;
}

main > ul:nth-of-type(3) > a{
  font-family: "objective_bold", sans-serif;
  color: var(--wit);
  background-color: var(--rood);
  font-size: 0.85em;
  padding: 1.6em 2.2em;
  border-radius: 2.2em;
  text-align: center;
  display: flex;
  justify-self: center;
}

/*kunnen we je ergens mee helpen?*/

main section:nth-of-type(3){
  background-color: var(--grijs_heellicht);
  border-radius: 0.6em;
  margin-bottom: 4em;
  padding-bottom: 2em;
  position: absolute;
  margin-right: 0.7em;
}
.bolder{
    font-family: "objective_bold", sans-serif;
    color: var(--tekst_bold);
    font-size: 1em;
}
main section:nth-of-type(3) h2{
  padding-top: 1.5em;
  margin-left: 1em;
  font-size: 1.5em;
  text-align: left;
  line-height: 1.3em;
}
main section:nth-of-type(3) > p{
  font-size: 1em;
  margin-left: 1.5em;
  max-width: 85%;
  line-height: 1.5em;
}
main section:nth-of-type(3) img{
  height: 1.5em;
}
main section:nth-of-type(3) img:nth-of-type(2){
  order: 2;
  height: 0.8em;
}
main section:nth-of-type(3) ul{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-left: 1.5em;
}
main section:nth-of-type(3) li a{
  display: flex;
  align-items: center;
  gap: 1em;
}
main section:nth-of-type(3) p:nth-of-type(1){
  font-family: "objective_bold", sans-serif;
  color: var(--tekst_bold);
  font-size: 0.85em;
}
main section:nth-of-type(3) li:nth-of-type(2){
  border-top: 1px solid var(--border_grijs_donker);
  border-bottom: 1px solid var(--border_grijs_donker);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*footer*/
footer {
  background-color: var(--nav_ag);

  width: 104%;
  margin-left: -0.6em;
  margin-top: 24em;
  padding-bottom: 2em;
}
